# dependencies
/node_modules

# next.js
/.next/
/.next-e2e/
/out/

# testing
/coverage/
/playwright-report/
/test-results/

# production
/build/

# local environment
.env*
!.env.example

# local tooling
.DS_Store
*.tsbuildinfo
next-env.d.ts
